#my_button{
    background-color: #F54927;
    border: none;
    color: azure;
    border-radius: 7px;
};
#header_title{
    color:white;
}
#end{
    padding-top: 13rem;
    display: flex;
    
    
}
#contact{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3.5rem;
   

    
    margin-top:95px ;
}